Cake-Shop/CakeManager/Customer/Web References/localhost/CustomerServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="checkLoginResult" type="tns:tblCustomer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="tblCustomer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="customerId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fullname" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="birthday" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="enable" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="register">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="c" type="tns:tblCustomer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="registerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkListOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="list" type="tns:ArrayOfTblCake" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTblCake">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="tblCake" nillable="true" type="tns:tblCake" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="tblCake">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cakeId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="origin" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="price" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="bought" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="quantity" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="categoryId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="img1" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="status" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="tblCategory" type="tns:tblCategory" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="tblCategory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="categoryId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="status" nillable="true" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="checkListOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="checkListOrderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customer" type="tns:tblCustomer" />
            <s:element minOccurs="0" maxOccurs="1" name="list" type="tns:ArrayOfTblCake" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertOrderResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="checkLoginSoapIn">
    <wsdl:part name="parameters" element="tns:checkLogin" />
  </wsdl:message>
  <wsdl:message name="checkLoginSoapOut">
    <wsdl:part name="parameters" element="tns:checkLoginResponse" />
  </wsdl:message>
  <wsdl:message name="registerSoapIn">
    <wsdl:part name="parameters" element="tns:register" />
  </wsdl:message>
  <wsdl:message name="registerSoapOut">
    <wsdl:part name="parameters" element="tns:registerResponse" />
  </wsdl:message>
  <wsdl:message name="checkListOrderSoapIn">
    <wsdl:part name="parameters" element="tns:checkListOrder" />
  </wsdl:message>
  <wsdl:message name="checkListOrderSoapOut">
    <wsdl:part name="parameters" element="tns:checkListOrderResponse" />
  </wsdl:message>
  <wsdl:message name="insertOrderSoapIn">
    <wsdl:part name="parameters" element="tns:insertOrder" />
  </wsdl:message>
  <wsdl:message name="insertOrderSoapOut">
    <wsdl:part name="parameters" element="tns:insertOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="CustomerServicesSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkLogin">
      <wsdl:input message="tns:checkLoginSoapIn" />
      <wsdl:output message="tns:checkLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="register">
      <wsdl:input message="tns:registerSoapIn" />
      <wsdl:output message="tns:registerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkListOrder">
      <wsdl:input message="tns:checkListOrderSoapIn" />
      <wsdl:output message="tns:checkListOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertOrder">
      <wsdl:input message="tns:insertOrderSoapIn" />
      <wsdl:output message="tns:insertOrderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerServicesSoap" type="tns:CustomerServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkLogin">
      <soap:operation soapAction="http://tempuri.org/checkLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="register">
      <soap:operation soapAction="http://tempuri.org/register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkListOrder">
      <soap:operation soapAction="http://tempuri.org/checkListOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertOrder">
      <soap:operation soapAction="http://tempuri.org/insertOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomerServicesSoap12" type="tns:CustomerServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkLogin">
      <soap12:operation soapAction="http://tempuri.org/checkLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="register">
      <soap12:operation soapAction="http://tempuri.org/register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkListOrder">
      <soap12:operation soapAction="http://tempuri.org/checkListOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertOrder">
      <soap12:operation soapAction="http://tempuri.org/insertOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerServices">
    <wsdl:port name="CustomerServicesSoap" binding="tns:CustomerServicesSoap">
      <soap:address location="http://localhost:62276/CustomerServices.asmx" />
    </wsdl:port>
    <wsdl:port name="CustomerServicesSoap12" binding="tns:CustomerServicesSoap12">
      <soap12:address location="http://localhost:62276/CustomerServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>